/**
 * Vendors
 * All external libraries needed in the project.
 */
@import '00_vendors/all';

/**
 * Setup
 * Setup all the different parts/modules/libraries.
 */
@import '01_setup/all';

/**
 * Utils
 * Import all the different utils functions, mixins, classes, etc...
 */
@import '02_utils/all';

/**
 * Generic
 * All the generic codebase for the project like typography, resets, etc...
 */
@import '03_generic/all';

/**
 * Templates
 * All the templates level specific styling.
 * Templates specific classes have to start with `.t-`.
 */
@import '04_templates/all';

/**
 * Pages
 * All the pages level specific styling.
 */
@import '05_pages/all';

/**
 * Organisms
 * All the organisms styling.
 * An organism can contain other molecules or atoms and does not have to relay on his ancestors
 * to be properly displayed.
 * All organisms specific classes have to start with `.o-`.
 */
@import '06_organisms/all';

/**
 * Molecules
 * All the molecules styling.
 * A molecule response to the same rules has the organisms, unless they cannot contain any other molecules.
 * It normally contains only other atoms.
 * All molecules classes have to start with `.m-`.
 */
@import '07_molecules/all';

/**
 * Atoms
 * All the atoms styling.
 * An atom is the most basic component. It cannot contain any other atoms or anything else and have to be context free, meaning that
 * it need to be usable everywhere we want without having to deal with pre-defined margins, etc...
 * All atoms specific classes have to start with `.a-`.
 */
@import '08_atoms/all';

/**
 * Views
 * Import all the views scss files
 * This need the node-sass-glob-importer package installed :
 * https://www.npmjs.com/package/node-sass-glob-importer
 */
@import '../../app/views/**/*.scss';

/**
 * Trumps
 * All the things that does not fit in any others directory. Try to keep this folder has small as possible.
 * If you have to many things in here, that mean that you probably need to refactor your codebase...
 */
@import '09_trumps/all';

// DO NOT UPDATE OR ADD CONTENT TO THIS FILE...
