@include s-setup(
  (
    fonts: (
      "light": (
        font-family: "Roboto",
        font-weight: 300
      ),
      "regular": (
        font-family: "Roboto",
        font-weight: 400
      ),
      "bold": (
        font-family: "Roboto",
        font-weight: 800
      )
    )
  )
);
