.projects {
  position: relative;
  z-index: 1;

  s-glitch {
    @include s-fit(absolute);
  }
}

.projects__grid {
  display: grid;
  grid-gap: s-rem(10px);
  grid-template-areas:
    'a'
    'b'
    'c'
    'd'
    'e'
    'f'
    'g';

  @include g-state(tablet) {
    grid-template-areas:
      'a a z'
      'b b z'
      'c c z'
      'd d z'
      'e e z'
      'f f z'
      'g g z';
  }

  @include g-state(desktop) {
    grid-template-areas:
      'a a z'
      'b c f'
      'd e g';
  }
}

.projects__grid-item {
  @include s-ratio(21/14);

  overflow: visible;
  opacity: 0;

  @include s-translate(0, 50%);

  &:hover {
    s-atv-card {
      z-index: 11;
    }
  }

  body.loaded & {
    opacity: 1;

    @include s-translate(0, 0);

    @for $i from 0 through 10 {
      &:nth-child(#{$i}) {
        transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) $i * 0.05s + 1s;
      }
    }
  }

  &[active] {
    s-atv-card {
      z-index: 10;
    }
  }

  &:nth-child(1) {
    grid-area: a;
  }

  &:nth-child(2) {
    grid-area: b;
  }

  &:nth-child(3) {
    grid-area: c;
  }

  &:nth-child(4) {
    grid-area: d;
  }

  &:nth-child(5) {
    grid-area: e;
  }

  &:nth-child(6) {
    grid-area: f;
  }

  &:nth-child(7) {
    grid-area: g;
  }

  @include g-state(tablet) {
    @include s-ratio(21/9);

    overflow: visible;
  }
}

.project {
  @include s-fit(absolute);
  @include s-depth(10);
  @include s-transition(fast);

  transform: scale(1);
  overflow: hidden;
}

.project__metas {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: s-space(default);
  background: s-color(secondary);
  color: white;
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1) 0s;

  @include s-translate(0, 100%);

  &::after {
    content: '';
    display: block;
    width: s-rem(50px);
    height: 100%;
    position: absolute;
    left: calc(100% - 30px);
    top: 0;
    background: s-color(secondary);
    transform: skewX(25deg);
    z-index: -1;
  }

  .projects__grid-item[active] &,
  .projects__grid-item:hover & {
    @include s-translate(0, 0);
  }

  @include g-state(
    (
      max-width: g-state-var(min-width, tablet)
    )
  ) {
    width: 100%;

    @include s-translate(0, 0);
  }
}

.project__img {
  @include s-fit(absolute);

  img {
    @include s-fit();

    object-fit: cover;

    @include s-transition(fast);
  }

  @include g-state(
    (
      max-width: g-state-var(min-width, tablet)
    )
  ) {
    height: calc(100% - 80px);
  }
}

.project__scope {
  @include s-font($size: s-rem(12px), $color: s-color(default, -lighten 60%));
}

.project__title {
  @include s-font($family: code, $size: s-rem(22px));

  display: block;
}
