.projects {

}

.projects__grid {
  display: grid;
  grid-gap: s-rem(10px);
  grid-template-areas: "a a b"
                       "a a c"
                       "d e f";
}
.projects__grid-item {
  background-color: white;
  @include s-ratio(21/9);
  overflow: visible;

  &:hover,
  &[active] {
    s-atv-card {
      z-index: 10;
    }
  }

  s-atv-card {
    @include s-fit(absolute);
  }

  &:nth-child(1) {
    grid-area: a;
  }
  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(3) {
    grid-area: c;
  }
  &:nth-child(4) {
    grid-area: d;
  }
  &:nth-child(5) {
    grid-area: e;
  }
  &:nth-child(6) {
    grid-area: f;
  }
}

  .project {
    @include s-fit(absolute);
    @include s-depth(0);
    @include s-transition(fast);
    transform: scale(1);
    overflow: hidden;

    .projects__grid-item[active] & .project__img img,
    &:hover .project__img img {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  .project__metas {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: s-space(default);
    background: s-color(secondary);
    color: white;
    transition: transform .3s cubic-bezier(1.000, 0.000, 0.000, 1.000) 0s;

    @include s-translate(0,100%);

    .projects__grid-item[active] &,
    .projects__grid-item:hover & {
      @include s-translate(0,0);
    }
  }

  .project__img {
    @include s-fit(absolute);

    img {
      @include s-fit();
      object-fit: cover;
      filter: grayscale(100%);
      opacity: .05;
      @include s-transition(fast);
    }
  }

  .project__scope {
    @include s-font(
      $size: s-rem(12px),
      $color: s-color(default, -lighten 60%)
    );
  }

  .project__title {
    @include s-font(
      $family: code,
      $size: s-rem(22px)
    );
    display: block;
  }
