.topbar {
  padding: s-space(big) 0;
  position: relative;
  z-index: 10;

  a[href=''] {
    display: none;
  }
  .page-contact & {
    a[href=''] {
      display: inline-block;
    }
    a[href='contact'] {
      display: none;
    }
  }
}

.topbar__title {
  @include s-font($family: bold, $size: s-rem(14px));

  s-bodymovin {
    height: s-rem(14px);
    width: s-rem(100px);
  }
}

.topbar__description {
  @extend .p;
}

.topbar__nav {
  display: block;
  margin: 0 s-rem(-10px);
}

.topbar__nav-item {
  display: inline-block;
  margin: 0 s-rem(10px);

  a {
    text-decoration: none;
  }
}
