.topbar {
  padding: s-space(big) 0;
  position: relative;
  z-index: 10;

  .topbar__title,
  .topbar__description {
    transition: all 0.6s cubic-bezier(1, 0, 0, 1) 0s;
  }

  a[href=''] {
    display: none;
  }

  .page-contact & {
    a[href=''] {
      display: inline-block;
    }
    a[href='contact'] {
      display: none;
    }

    .topbar__title,
    .topbar__description {
      @extend .cs-light;
    }
  }
}

.topbar__title {
  @include s-font($family: bold, $size: s-rem(14px));
}

.topbar__description {
  @extend .p;
}

.topbar__nav {
  float: right;
  margin: 0 s-rem(-10px);
}

.topbar__nav-item {
  display: inline-block;
  margin: 0 s-rem(10px);

  a {
    text-decoration: none;
  }
}
