.contact {
  @extend .cs-light;

  // &:before {
  //   content: '';
  //   display: block;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   transform: translateY(-100vh) translateX(-40vw);
  //   width: 100vw;
  //   height: 200vh;
  //   background: s-color(secondary, -darken 10%);
  //   z-index: -1;
  // }
}
.contact__bkg {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 11vw;
  object-fit: cover;
  opacity: 0;
  @include s-translate(-100%);
  transition: all 0.6s cubic-bezier(1, 0, 0, 1) 0s;

  .page-contact & {
    opacity: 1;
    @include s-translate(0);
  }

  &:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 100%;
    background: s-color(secondary, -darken 10%);
  }
}

s-slideshow.content {
  position: relative;
  overflow: hidden;

  [s-slideshow-slide] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include s-translate(0);
    transition: transform 0.6s cubic-bezier(1, 0, 0, 1) 0s;

    &[before-active] {
      @include s-translate(-100vw);
    }
    &[after-active] {
      @include s-translate(100vw);
    }
  }
}
