/**
 * Vertical rhythme styling
 */
.#{s-vertical-rhythme-class()} {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  blockquote {
    margin-bottom: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
