{% embed '@default' with layout %}

  {% block body %}

    <section class="project">
      <div class="container">
        <div class="row">
          <div class="gr-12">

          </div>
        </div>
      </div>
    </section>

  {% endblock %}

{% endembed %}
