.form-input {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  background-color: white;
  padding: s-rem(20px) !important;
  height: auto;

  @include s-depth(5);

  @include s-placeholder() {
    color: s-color(white, -darken 50%);
  }
}

textarea.form-input {
  height: s-rem(150px);
}
