<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ '/dist/css/style.css' }}">
    <title>Preview</title>
</head>
<body class="preview">

{{ yield | raw }}

<script src="{{ '/dist/js/app.js' }}"></script>
</body>
</html>
